<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des joueurs</title>
</head>
<body>
    <h1>Liste des joueurs</h1>
    <ul>
        {% for joueur in joueurs %}
            <li>{{ joueur.prenom }} {{ joueur.nom }} {{ joueur.image }}
                <br>
                <a href="{% url 'joueur_detail' joueur.pk %}">
                    <img src="{{ joueur.image.url }}" alt="Photo de {{ joueur.nom }}" width="150">
                </a>
            </li>
        {% empty %}
            <li>Aucun joueur trouvé.</li>
        {% endfor %}
    </ul>
</body>
</html>
